<!DOCTYPE html>
<html>
<head>
    <title>Registro de Rutas</title>
</head>
<body>

    <h1>Registro de Vehículos</h1>

    <form method="POST">
        <input type="text" name="placa" placeholder="Placa" required><br><br>
        <input type="text" name="carga" placeholder="Carga" required><br><br>

        <select name="ciudad">
            <option>Barranquilla</option>
            <option>Bogotá</option>
            <option>Medellín</option>
            <option>Cali</option>
        </select><br><br>

        <button type="submit">Guardar</button>
    </form>

</body>
</html>
